@charset "utf-8";
/* CSS Document */
body{margin:0;
border-bottom:10px solid #DFDFDF;
color: #878787;
 font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}


*{box-sizing:border-box;}


.head_area{height:700px;
padding-top:150px;
text-align:center;
 background:linear-gradient(#ffa949, transparent 90%),
 			linear-gradient(0deg, #fff, transparent),
 			#ffa949 url('img/mountains.jpg') no-repeat center;
			background-size:cover;
						
}


h1{text-transform:uppercase;
font-size:4.625em;
font-weight:normal;
color:rgba(255,255,235,1);
text-shadow:0 1px 1px rgba(0,0,0,.6);
letter-spacing:.1px;
line-height:1.4;
margin:12px 0 0;
}


h2 span{text-decoration:underline;
 font-size: 1.3125em; 
  font-weight: normal;
  line-height: 1;
  margin: 0 0 .5em; 
}


h1,h2{
	font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;
	color:#FFF;
	}
	
	
	
	.main1{padding-bottom:5%;
	border-bottom: solid 3px #E9E9E9 ;
		border-top: solid 3px  #E9E9E9;
		}
	
.main1,
.main2{
	width:75%;
	margin:auto;
	padding-left:50px;
	padding-right:50px;
	max-width:900px;
	}
	
		img{
		max-width:100%;
		}
		
		
.img{
	color:white;
	text-align:left;
	background: #434a52 url(img/bear.jpg) no-repeat center;
	padding:18% 24%;
	background-size:cover;
	margin:105px 0 60px;
	border-top: 10px solid #ffa949;
	border-radius:15px;
	box-shadow:inset 0 0 34px 20px rgba(0,0,0,.20);
	}
	.img h2{font-size:2.1em;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	}	
	
	
	img{
		max-width:100%;
		border-radius:16px;
		}
		
.img1,
.img2{
	width:46%;
	padding-top:10%;
	}
	
	
	.img1{float:right;}	
.main2{padding-bottom:5%;
	border-bottom: solid 3px #E9E9E9 ;	}
		
	.foot{margin:auto;
	text-align:center;
	font-size:1.4em;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;}
	
	.foot a{color:#FF5B5B;}
	
	.foot a:hover{color:#FF95CA;}
	
	a{color:#E4F38F;
	font-size:20px;
	text-decoration:none;
	}
	
	
	.main1 a{
		color:#FFA8A8;}
		
	.main1 a:hover{
		color:#A00;
		text-decoration:underline;}
		
	p{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:1.2em;
	line-height:1.2;
	}
	
	
	.main1,.main2 .p1{
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:1.2em;
	line-height:1.2;
	 color: #878787;
	 text-align:center;
	 margin-top:auto;
	 padding-top:30px;}	
	
	
	.main2 .p1{
		text-align:justify;
		padding-top:5px;}
		.main2 h2{color:#878787;}
	
	li{font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size:1.2em;}